@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,300;0,500;0,600;1,300&family=Salsa&display=swap');


:root{
    --green: #97d81d;
    --text-withe:#ffff;
    --backround:#18181b;
    --text-agray:#c4c4c4;
    --purple:#770047;
}

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
    
}

a{
    text-decoration: none;

}
body{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
    background-color:#18181b;


}
nav{
    max-width: 1200px;
  margin: auto;
  padding: 32px 16px ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;

}
.nav-logo{
    max-width: 100px;
}
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 64px;
 

}
.link a{
    position: relative;
    padding-bottom: 10px;
    color: #fff ;
}
.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom:0 ;
    left: 0;
    background-color: #97d81d;
    transition: all 0.3s ease;


}

.link a:hover::after{
    width: 70%;
}

.btn{
    
    padding: 16px 32px;
    font-size: 16px;
    color: var(--text-withe);
    background-color: var(--green);
    border: 1px solid var(--green);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover{
    background-color: var(--green);

    }

    .container{
        max-width: 1200px;
        margin: auto;
        padding: 5rem 2rem;
    
    }

    .blur{
        position: absolute;
        box-shadow: 0 0 1000px 50px var(--green);
        z-index: -100;

    }

header{
    position: relative;
    padding-top:2rem ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 32px;

}
header .content h4{
    margin-bottom: 16px;
    color: var(--text-withe);
    font-size: 16px;
    font-weight: 600;
}
header .content h1{
    color: var(--text-withe);
    margin-bottom:16px ;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    }
    header .content p{
        color: var(--text-agray);
        margin-bottom: 16px;
        font-size: 20px;
        font-weight: 500;
    }
    header .btn{
        margin-bottom: 3rem;
     }

    header .content h1 span{

        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px  var(--text-withe);


    }
    header .image{
        position: relative;
        
    }
    header .image::before{
        content: "X";
        position: absolute;
        top: 0;
       left: 50%;
       transform:translateX(-50%) ;
       font-size: 38rem;
       font-weight: 400;
       line-height: 20rem;
       color: var(--green);
       opacity: 0.2;
       z-index: -1000;



    }
    header .image img{
        max-width: 600px;
        margin: auto;
    }


   .container h2{
   font-size: 35px;
   color:var(--text-agray);
   margin-bottom: 2rem;
   text-decoration: underline;

   }


.charasteristic{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 32px;
    
}
.container h4{
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: 400;
    color:var(--green) ;
}

.container p{
    color: var(--text-withe);
    margin-bottom: 1rem;
    
}
.card a{
    position: relative;
    padding-bottom: 10px;
    color: var(--green);
    font-weight: 800;

}
.card a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom:0 ;
    left: 0;
    background-color:var(--text-withe);
    transition: all 0.3s ease;
}

.card a:hover::after{
    width: 100%;
}

footer{
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3,1fr);
    gap :2rem;

}
footer .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;

}

footer .column p{
    color: var(--text-withe);
    margin-bottom: 2rem;
}
footer .column .socials{
    display: flex;
    align-items: center;
    gap: 2rem;
}

footer .column .socials a{
    color: var(--text-withe);
    border: 1px solid var(--text-withe);
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 0.3s ease;

}
footer .column .socials a:hover{
    color: var(--text-withe);
    background-color: var(--green);
    border-color: #97d81d;

}
 
footer .column h4{
    color: var(--text-withe);
    margin-bottom:2rem ;
    font-size: 1,2rem;
    font-weight: 500;
}
footer .column > a{
    display: block;
    color: var(--text-withe);
    margin-bottom: 1rem;
    transition: all 0.3s ease;


}

footer .column > a:hover{
    color: #97d81d;

}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: var(--green);
    font-size: 15px;
    text-align: center;
}
#car-toggle{
    display: none;
}

#car-toggle:checked + .cart
{
    display: flex;
}
.cart{
position: absolute;
    top: 130px;
    right: 0;
    padding: 10px 20px;
    background: var(--backround);
    border-left: 1px solid var(--green);
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(100vh - 65px);
    overflow-y:scroll;
    display: none;
    z-index: 2;
}
.cart-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #2323234e;
    padding: 20px;
    border: 1px solid var(--electric);
    border-radius: 10px;
}
.cart-item img{
    height: 65px;
    width: 65px;
}
.car-label img{
    width: 45px;
background-color: var(--green);
  border-radius: 10px;
  cursor: pointer;


}
